#alimentsTable, #componentsTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#alimentsTable td, #alimentsTable th, #componentsTable td, #componentsTable th {
  border: 1px solid #5c6982;
  padding: 8px;
}

#componentsTable tr:nth-child(even){background-color: #3a3a3a;}

#alimentsTable tr:hover {background-color: #323232;}

#alimentsTable th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #5c6982;
  color: rgb(0, 0, 0);
}

#componentsTableDiv th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #5c6982;
  color: rgb(0, 0, 0);
}

#componentsTableDiv {
  width: 99vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#componentsTable {
  background-color: #323232;
}

.homeDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 99vw;
}

input {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: none;
  padding: 10px;
  margin: 10px 0px 20px 10px;
}

.fadeIn {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    transform: scale(0.3);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}